
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default list styles */
:is(ul, ol) {
  list-style-type: "";
}

/* Adjust default line height */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Avoid orphans on paragraphs */
p {
    text-wrap: pretty;
}

/* Remove default link styles */
a {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
    --clr-light: hsl(0, 0%, 100%);
    --clr-dark: hsl(0, 91%, 5%);
    --clr-box-default: hsl(125, 90%, 15%);
}

.flow {
    --flow-space: 8px;
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    background-color: var(--clr-dark);
    padding: 16px;
}

.color-tool-wrapper {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    border-radius: 20px;
    padding: 20px 40px;
}

.title {
    margin-block-end: 24px;
}

.color-tool {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hex {
    border: transparent;
    outline: 1px solid var(--clr-dark);
    padding: 4px 8px;
    border-radius: 6px;
}

.box {
    height: 100px;
    background-color: var(--clr-box-default);
}